body{
	background-color: black;
}


/*
 *
 *  Settings Menu
 *
 *****************/

.settingsWrapper{
	position: fixed;
	right:50px;
	top:50px;
	z-index: 7000;
}
.settingsIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	height:50px;
	width:50px;
	cursor: pointer;
	color: #595959;
	font-size: 20pt;
	background-color: lightgrey;
}
.settings{
	position: fixed;
	right:50px;
	top:50px;
	border-radius: 25px;
	background-color: white;
	color: black;
	background-color: white;
	opacity:0.8;
	padding: 25px;
	padding-top:50px;
}
.settings > ul {
	padding:0px;
	margin:0px;
}
.settings > ul > li {
	border-top:1px solid grey;
	list-style: none;
}
.settings > ul > li > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height:40px;
	font-size: 15pt;
	font-family: Arial;
	background-color: lightgrey;
	cursor:pointer;
	opacity:0.5;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}


/*
 *
 *  BG Setter
 *
 *****************/

.popupWrapper{
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left:0px;
	top:0px;
	z-index: 9000;
}
.popupWrapper > .dimmer{
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.5;
	background-color: grey;
	z-index: 9001;

}
.popupWrapper > .popup{
	width:50%;
	background-color: white;
	border-radius:25px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:25px;
	z-index: 9002;
}
.popupWrapper > div > .header{
	width:100%;
	font-size: 20pt;
	height:50px;
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 20px
}
#closePopup{
	cursor: pointer;
}
.choosePic{
	font-size: 20pt;

}



/*
 *
 *  audio player
 *
 *****************/

.audioButtons{
	cursor: pointer;
	margin:5px;
	color: #595959;
	font-size: 15pt;
}

.audioWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: lightgrey;
	border-radius: 100px;
	position: fixed;
	left:50px;
	top:50px;
	z-index: 7000;
}


/*
 *
 *  Google Bar
 *
 *****************/

.googleBar{
	width:100%;
	min-height:50px;
	display: flex;
	justify-content: center;
	position:fixed;
	top:40%;
	z-index: 700;
}
.input{
	padding-left: 20px;
	height:100%;
	min-width:400px;
	font-family: Arial;
	font-size: 20px;
	color: black;
	border-radius:100px 0px 0px 100px;
	border-top: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	margin-right: 1%;
	opacity:0.5;
}
.input:focus{
    outline: none;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	font-size: 20pt;
	font-family: Arial;
	color: black;
	border-radius:0px 50px 50px 0px;
	background-color: grey;
	cursor:pointer;
	padding-left: 20px;
	padding-right: 20px;
	opacity:0.5;
}


/*
 *
 *  Graphics
 *
 *****************/

.landscape{
	position: fixed;
	bottom:0;
	left:0;
	min-height:100%;
	min-width:100%;
}
.landscapeWrapper{
	min-height:100%;
	min-width:100%;
	overflow:hidden;
}
.smugWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	width:100%;
}
.smug{
	position: fixed;
    bottom: 1%;
    height: 30%;
    min-height:300px;
    z-index: 5000;
}


/*
 *
 *  Animation
 *
 *****************/
/*Google Searchbar + Soundbar*/
.audioWrapper:hover, .button:hover, .input:hover, .settingsIcon:hover{
	opacity:1;
	animation-name: undim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes undim {
  from {opacity: 0.3}
  to {opacity: 1}
}

.audioWrapper, .button, .input, .settingsIcon{
	opacity: 0.3;
	animation-name: dim;
	animation-duration: 0.5s;
}
@keyframes dim {
  from {opacity: 1}
  to {opacity: 0.3}
}


/* Menu buttons */

.settings > ul > li > div:hover{
	background-color: grey;
	animation-name: hoverin;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes hoverin {
  from {background-color: lightgrey}
  to {background-color: grey}
}

.settings > ul > li > div{
	background-color: lightgrey;
	animation-name: hoverout;
	animation-duration: 0.5s;
}
@keyframes hoverout {
  from {background-color: grey}
  to {background-color: lightgrey}
}