<head>
	<title>New Tab</title>
	<!-- Styling -->
	<link href="./css/fontawesome/css/fontawesome.css" rel="stylesheet">
	<link href="./css/fontawesome/css/solid.css" rel="stylesheet">
	<link href="./css/smug.css" rel="stylesheet">

	<!-- JavaScript -->
	<script src="./scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script src="./scripts/smug.js" type="text/javascript"></script>
</head>

<body>
	<div class="landscapeWrapper">

		
		<!-- Pics -->
		<div class="smugWrapper ">
			<!-- Sauce: https://i.imgur.com/jFHDDQX.gif -->
			<img class="smug" src="./ressources/smug.gif"/>
		</div>

		<!-- Sauce: https://gifs.alphacoders.com/gifs/view/168272 -->
		<img class="landscape" src="./ressources/landscape.gif"/>

		
		<!-- Soundbar -->
		<div class="audioWrapper">
			<span id="play" class="audioButtons">
				<i class="fas fa-play"></i>
			</span>
			<span id="pause" class="audioButtons">
				<i class="fas fa-pause"></i>
			</span>
			<span id="stop" class="audioButtons">
				<i class="fas fa-stop"></i>
			</span>
		</div>
		<audio id="audio" loop>
			<source src="./ressources/smug.mp3"" type="audio/mpeg">
		</audio>


		<!-- Settings -->
		<div class="settingsWrapper">
			<div id="settings" class="settings">
				<ul>
					<li><div id="searchToggle">Toggle Search</div></li>
					<li><div id="bgPopupToggle">Change Background</div></li>
				</ul>
			</div>
			<span id="settingsIcon" class="settingsIcon">
				<i class="fas fa-cog"></i>
			</span>
			<div id="bgPopup" class="popupWrapper">
				<div class="dimmer"></div>
				<div class="popup">
					<div class="header"><i id="closePopup" class="fas fa-times"></i></div>
					<span class="choosePic">Work in progress...</span>
				</div>
			</div>
		</div>


		<!-- Searchbar -->
		<div id="googleBar" class="googleBar">
			<span>
				<input placeholder="Google Search" id="searchBar" class="input" type="input" autofocus/>
			</span>
			<span>
				<div class="button" id="button">Search!</div>
			</span>
		</div>
	</div>
</body>